<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.has_many_autocomplete :lyric_ids, autocomplete_lyric_printable_title_playlists_path, @playlist.lyrics.collect { |s| [s.title, s.id] }, { :label => 'Add song: ' } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
