<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <% @playlist.lyrics.each do |lyric| %>
    <%= f.fields_for :lyric_ids do |fields| %>
      <div class="field">
        <%= fields.label "", "Lyric ID: " %>
        <%= fields.hidden_field "", { :value => lyric.id, :class => 'lyric_id' } %>
        <%= text_field_tag nil, "", { :value => lyric.printable_title, :class => 'lyric_id_search' } %>
        <%= link_to_remove_fields "remove", f %>
      </div>
    <% end %>
  <% end %>

  <%= f.fields_for :lyric_ids do |fields| %>
    <div class="field">
      <%= fields.label "", "Lyric ID: " %>
      <%= fields.hidden_field "", { :value => '', :class => 'lyric_id' } %>
      <%= text_field_tag nil, "", { :value => '', :class => 'lyric_id_search' } %>
    </div>
  <% end %>

  <%= link_to_add_fields "Add another" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
