<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <% @playlist.lyric_ids.each do |value| %>
    <%= f.fields_for :lyric_ids do |fields| %>
      <div class="field">
        <%= fields.label "", "Lyric ID: " %>
        <%= fields.text_field "", :value => value %>
      </div>
    <% end %>
  <% end %>

  <%= f.fields_for :lyric_ids do |fields| %>
    <div class="field">
      <%= fields.label "", "Lyric ID: " %>
      <%= fields.text_field "", :value => '' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
