<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @playlist.name %>
</p>

<p>
  <b>Songs:</b>
  <ul>
    <% @playlist.lyrics.each do |lyric| %>
      <li>
      <% url = play_playlist_path(@playlist.id, { :lyric_id => lyric.id }) %>
      <%= link_to (raw youtube_thumb(lyric.youtube_id)), url %>
      <%= link_to lyric.printable_title, url %>
      </li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
