<!DOCTYPE html>
<html>
<head>
  <title>Lyrics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    params[:controller], :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= javascript_include_tag 'has-many-autocomplete' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navigation">
    <%= link_to 'Lyrics', lyrics_path %> |
    <%= link_to 'Playlists', playlists_path %>
  </div>

<%= yield %>

<%= javascript_include_tag "https://apis.google.com/js/client.js?onload=googleApiLoaded" %>
</body>
</html>
