<!DOCTYPE html>
<html>
<head>
  <title>Lyrics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://apis.google.com/js/client.js?onload=googleApiLoaded" %>
  <%= javascript_include_tag "http://www.youtube.com/iframe_api" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navigation">
    <%= link_to 'Lyrics', lyrics_path %> |
    <%= link_to 'Playlists', playlists_path %>
  </div>

<%= yield %>

</body>
</html>
